<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Suit">

      
  <parameter name="browser" value="chrome">
   </parameter> 
      
  <test thread-count="1" name="Login/reg/home">
     
        <classes>  
     <class name="Testcases.Login_TestCases"/>
      <class name="Testcases.Registration_testcase"/> 
      <class name="Testcases.HomePage_Testcases"/>  
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
